@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white !important;
  background-color: #1c1c1c !important;

}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
#no-scroll {
  overflow: hidden;
  height: 100vh;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #c850c0;
  /* background-image: url(../src/Assets/bars.svg);
  background-repeat: no-repeat;
  background-position: center; */
}
#preloader-none {
  opacity: 0;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(240, 255, 255, 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 139, 139, 0.5);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkcyan;
  border-radius: 12px;
}
